.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.041);
}

.modal {
    box-sizing: border-box;
    background: grey;
    width: 600px;
    height: 350px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.144);
    border-radius: 10px;
    transition: all .3s;
    animation: showModal .3s ease-out;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header h3 {
    margin: 0;
    font-size: 25px;
    color: black;
    text-align: center;
}

.body {
    display: flex;
    justify-content: space-between;
}

.body button {
    width: 150px;
    height: 80px;
    font-size: 24px;
}
