.delete {
    width: 100px;
}

.editButton {
    width: 160px;
}

.changeMode {
    display: flex;
    justify-content: space-between;
}

.changeMode button {
    width: 80px;

}

th {
    font-size: 24px;
}

th p {
    width: 180px;
    margin: 0;
    height: 40px;
}

.input {
    width: 170px;
    font-size: 24px;
}

.editRow td:not(:last-child) {
    border-bottom: 1px solid #646cff;
    box-shadow: rgba(100, 108, 255, 0.35) 0 -50px 36px -28px inset;
}
